/* CSS
index.css
*/

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 50px;

  padding-top: 50px;

  width: 100svw;
  min-height: 100svh;
}
